@import "common";
.left-column {
    width: 717px;
    flex-shrink:0;
}

.left-column {
    margin-right: 30px;

    .top-part {
        grid-template: 1fr 1fr  / 1fr 1fr;
        grid-column-gap: 30px;
    }
    .top-part > div {
        border: 1px solid black;
    }
}

.subsection {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: #ffb400;
        top: 44px;
    }
}

.news-section-header {
    font-family: 'Bebas Neue';
    font-size: 30px;
    letter-spacing: -1.5px;
    color: #ffffff;
    background-color: #ffb400;
    display:inline-block;
    padding: 10px;
    line-height: 0.8;
    margin-bottom: 5px;
}

.news-header {
    font-family: 'Titillium Web';
    font-weight: 600;
    text-transform: uppercase;
    color: #525252;
}

.star {
    color:  #ffb400;
    font-size: 10px;
    line-height: 8px;
}

.news-date {
    font-family: 'Titillium Web';
    font-weight: 600;
    font-size: 12px;
    line-height: 0.8;
    letter-spacing: -0.3px;
    text-transform: uppercase;
    color: #e9b229;
    margin-bottom: 10px;
}

.opened-news, .news-preview {
    padding: 20px 0;
}

.opened-news {

    .img-with-stars {
        width: 100%;
        height:100%;
        position: relative;
        margin-bottom: 16px;           
    }

    .news-pic {
        width: 100%;
        height: 170px;
        object-fit: cover;
        object-position: center;
        display: block; 
    }
    .rating {
        background-color: rgb(60,60,60);
        position: absolute;
        bottom:0;
        right:0;
        padding: 12px;
    }

    .news-header {
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: -0.45px;
        margin-bottom: 10px;
    }

    .news-info {
        font-family: 'Titillium Web';
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: -0.3px;
        color: #6f6f6f;
    }
}

.news-preview {
    
    border-top: 1px solid #d8d8d8;

    .side-with-img {
        width: 108px;
        flex-shrink: 0;
        margin-right: 13px;
    }

    .news-pic {
        width: 100%;
        height: 59px;
        object-fit: cover;
        object-position: center;
    }

    .news-header {
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: -0.3px;
    }

    .rating {
        margin-bottom: 5px;
    }
}

.ads-banner {
    width: 100%;
    height: 280px;
    object-fit: cover;
    object-position: center;
}

.tags {
    .flex-container {
        flex-wrap: wrap;
    }

    .tag {
        font-family: 'Titillium Web';
        font-weight: 600;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: -0.3px;
        color: #ffffff;
        background-color: rgb(83,83,83);
        padding: 10px 13px;
        margin-right: 4px;
        margin-bottom: 5px;

        &:hover {
            background-color: #ffb400;
        }
    }
}