@font-face {
  font-family: 'Titillium Web';
  src: local("Titillium Web"), local("TitilliumWeb-Regular"), url("../fonts/titilliumweb.woff2") format("woff2"), url("../fonts/titilliumweb.woff") format("woff"), url("../fonts/titilliumweb.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: local("Titillium WebSemiBold"), local("../fonts/TitilliumWeb-SemiBold"), url("../fonts/titilliumwebsemibold.woff2") format("woff2"), url("../fonts/titilliumwebsemibold.woff") format("woff"), url("../fonts/titilliumwebsemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: local("Titillium WebBlack"), local("TitilliumWeb-Black"), url("../fonts/titilliumwebblack.woff2") format("woff2"), url("../fonts/titilliumwebblack.woff") format("woff"), url("../fonts/titilliumwebblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: local("Bebas Neue Regular"), local("BebasNeueRegular"), url("../fonts/bebasneueregular.woff2") format("woff2"), url("../fonts/bebasneueregular.woff") format("woff"), url("../fonts/bebasneueregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: local("Bebas Neue Bold"), local("BebasNeueBold"), url("../fonts/bebasneuebold.woff2") format("woff2"), url("../fonts/bebasneuebold.woff") format("woff"), url("../fonts/bebasneuebold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1088px;
  margin: 0 auto;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container {
  position: relative;
}

header .container:before {
  content: "";
  position: absolute;
  height: 27px;
  width: 1px;
  background-color: #ffb400;
  left: 5px;
  top: 0px;
}

header .container:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #ffb400;
  bottom: 15px;
}

header .flex-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  text-align: center;
  background-image: url(../img/logo-bg.png);
  background-size: cover;
  color: white;
  margin: 27px 10px 12px 0;
}

header .magazine-name {
  font-family: 'Bebas Neue';
  font-size: 95px;
  font-weight: 700;
  letter-spacing: -4.75px;
  text-transform: uppercase;
  line-height: 69px;
  margin: 22px 18px 12px;
}

header .logo-text {
  font-family: 'Bebas Neue';
  font-size: 20px;
  letter-spacing: -0.5px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 16px;
  margin-bottom: 16px;
  position: relative;
}

header .logo-text:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 53px;
  background-color: #fffff0;
  top: 8px;
  left: 13px;
}

header .logo-text:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 53px;
  background-color: #fffff0;
  top: 8px;
  right: 13px;
}

header .link-container {
  padding: 103px 14px 0px 14px;
  position: relative;
}

header .nav-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;
  font-family: 'Titillium Web';
  font-weight: 600;
  line-height: 11px;
  font-size: 15px;
  letter-spacing: -0.38px;
}

header .e::after {
  content: "";
  background-image: url(../img/nav-hover-bg.png);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

header .search {
  padding: 90px 10px 0px 10px;
  position: relative;
}

header .search-field {
  width: 160px;
  height: 41px;
  font-family: 'Titillium Web';
  font-size: 12px;
  padding: 17px 0 15px 13px;
  background: #f0f0f0;
  border: none;
}

header .search-field:focus {
  outline: none;
}

header .search-icon {
  position: absolute;
  right: 10px;
  top: 90px;
}
/*# sourceMappingURL=main-page.css.map */