@import "common";
.left-column {
    width: 717px;
    flex-shrink:0;
}

.top-part {
    grid-template: 1fr 1fr  / 1fr 1fr;
}
.top-part > div {
    border: 1px solid black;
}

.entertainment {
    .news-section-header {
        font-family: 'Bebas Neue';
        font-size: 30px;
        letter-spacing: -1.5px;
        color: #ffffff;
        background-color: #ffb400;
        display:inline-block;
        padding: 10px;
    }

    .opened-news {

        img {
            display: block; //?так можно убирать нижний отступ картинки?
        }

        .img-with-stars {
            width: 100%;
            height:100%;
            position: relative;
        }

        .news-pic {
            width: 100%;
            height: 170px;
            object-fit: cover;
            object-position: center;
        }
        .rating {
            background-color: rgb(60,60,60);
            position: absolute;
            bottom:0;
            right:0;
            padding: 12px;
        }
        .star {
            color:  #ffb400;
            font-size: 10px;
            line-height: 8px;;
        }
    }
}