@font-face {
  font-family: "Titillium Web";
  src: local("Titillium Web"), local("TitilliumWeb-Regular"), url("../fonts/titilliumweb.woff2") format("woff2"), url("../fonts/titilliumweb.woff") format("woff"), url("../fonts/titilliumweb.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Titillium Web";
  src: local("Titillium WebSemiBold"), local("../fonts/TitilliumWeb-SemiBold"), url("../fonts/titilliumwebsemibold.woff2") format("woff2"), url("../fonts/titilliumwebsemibold.woff") format("woff"), url("../fonts/titilliumwebsemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Titillium Web";
  src: local("Titillium WebBlack"), local("TitilliumWeb-Black"), url("../fonts/titilliumwebblack.woff2") format("woff2"), url("../fonts/titilliumwebblack.woff") format("woff"), url("../fonts/titilliumwebblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Regular"), local("BebasNeueRegular"), url("../fonts/bebasneueregular.woff2") format("woff2"), url("../fonts/bebasneueregular.woff") format("woff"), url("../fonts/bebasneueregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Bold"), local("BebasNeueBold"), url("../fonts/bebasneuebold.woff2") format("woff2"), url("../fonts/bebasneuebold.woff") format("woff"), url("../fonts/bebasneuebold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1088px;
  margin: 0 auto;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid-container {
  display: -ms-grid;
  display: grid;
}

header {
  margin-bottom: 26px;
}

header .container {
  position: relative;
}

header .container:before {
  content: "";
  position: absolute;
  height: 27px;
  width: 2px;
  background-color: #ffb400;
  left: 5px;
  top: 0px;
}

header .container:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #ffb400;
  bottom: 17px;
}

header .logo {
  text-align: center;
  background-image: url(../img/header/logo-bg.png);
  background-size: cover;
  color: white;
  margin-top: 27px;
  margin-right: 35px;
  padding: 24px 17px 16px 16px;
  position: relative;
  z-index: 0;
}

header .magazine-name {
  font-family: "Bebas Neue";
  font-size: 95px;
  font-weight: 700;
  letter-spacing: -4.75px;
  text-transform: uppercase;
  line-height: 69px;
  margin-bottom: 8px;
}

header .logo-text {
  font-family: "Bebas Neue";
  font-size: 20px;
  letter-spacing: -0.5px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 16px;
  z-index: 1;
  background-color: #ffb400;
  padding: 0 8px;
  display: inline-block;
  position: relative;
}

header .logo-line {
  position: absolute;
  height: 1px;
  bottom: 25px;
  background-color: white;
  right: 15px;
  left: 15px;
  bottom: 28px;
}

header .link-container {
  position: relative;
}

header nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 54px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

header .nav-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;
  font-family: "Titillium Web";
  font-weight: 600;
  line-height: 11px;
  font-size: 15px;
  letter-spacing: -0.38px;
}

header .nav-link:hover {
  color: #ffb400;
}

header .current-section::after {
  content: "";
  background-color: #ffb400;
  position: absolute;
  width: 128px;
  height: 170px;
  top: -105px;
  left: -10px;
  z-index: -1;
}

header .current-section::before {
  content: "";
  background-color: #e4a40b;
  position: absolute;
  width: 119px;
  height: 4px;
  top: 65px;
  left: -6px;
  z-index: -1;
}

header .current-section .nav-link {
  color: white;
}

header .current-section .nav-link:hover {
  color: #444444;
}

header .search {
  position: relative;
}

header .search-field {
  width: 160px;
  height: 41px;
  font-family: "Titillium Web";
  font-size: 12px;
  line-height: 41px;
  padding-left: 13px;
  background: #f0f0f0;
  border: none;
}

header .search-field:focus {
  outline: none;
}

header .search-icon {
  position: absolute;
  right: 0;
}

.slider {
  max-width: 1088px;
  margin: 0 auto;
}

.top-slider {
  width: 1088px;
}

.slider-arrows {
  height: 50px;
  position: absolute;
  bottom: 109px;
  left: 41px;
}

.slider-arrows .slide-button {
  width: 50px;
  height: 48px;
  opacity: 0.9;
  border: none;
  background-color: #ffb400;
  margin: 1px;
  color: white;
}

.slider-arrows-line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ffb400;
  bottom: 109px;
}

.current-slide {
  position: relative;
  width: 715px;
  height: 357px;
}

.current-slide .current-slide-pic {
  width: 100%;
  height: 100%;
}

.current-slide .current-slide-item {
  position: absolute;
  bottom: 0px;
}

.current-slide .current-news-info {
  background-color: #292929;
  height: 99px;
  opacity: 0.9;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.current-slide .current-news-info .current-news-header {
  text-transform: uppercase;
  font-family: TitilliumText25L-600wt;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.45px;
  text-align: left;
  color: #ffffff;
  padding-top: 20px;
  padding-left: 14px;
}

.current-slide .current-news-info .current-news-description {
  font-family: TitilliumText25L-400wt;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.3px;
  text-align: left;
  color: #ffffff;
  padding-top: 18px;
  padding-left: 14px;
}

.current-slide .current-news-date {
  position: relative;
  width: 100px;
  opacity: 0.9;
  background-color: #ffb400;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.current-slide .current-news-date .current-news-date-day {
  width: 38px;
  height: 43px;
  font-family: BebasNeue;
  font-size: 40px;
  letter-spacing: -1.48px;
  color: #ffffff;
}

.current-slide .current-news-date .current-news-date-month {
  width: 30px;
  height: 9px;
  font-family: TitilliumText25L-999wt;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #ffffff;
}

.slider-news {
  width: 372px;
  background-color: #2d2d2d;
}

.slider-news .slider-news-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 322px;
  height: 358px;
  margin: auto;
}

.slider-news .slider-news-preview {
  border-bottom: 1px solid #3b3b3b;
  height: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.slider-news .slider-news-preview:last-child {
  border-bottom: 0;
}

.slider-news .slider-news-preview .news-preview-picture {
  width: 137px;
  height: 45px;
}

.slider-news .slider-news-preview .news-preview-picture .news-preview-pic {
  background-color: #1e1e1e;
}

.slider-news .slider-news-preview .news-prev-item {
  height: 45px;
  padding-left: 20px;
}

.slider-news .slider-news-preview .news-header-selected {
  text-transform: uppercase;
  font-family: TitilliumText25L-600wt;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.3px;
  text-align: left;
  color: #ffb400;
}

.slider-news .slider-news-preview .news-header {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.3px;
  text-align: left;
  color: #ffffff;
}

.slider-news .slider-news-preview .news-comments, .slider-news .slider-news-preview .news-date {
  font-size: 11px;
  letter-spacing: -0.28px;
  color: #626262;
}

.news-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news-column .news-column-header {
  position: relative;
}

.news-column .news-column-header .section-header-line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ffb400;
  bottom: 0px;
}

.news-column .news-section-header {
  font-family: 'Bebas Neue';
  font-size: 30px;
  letter-spacing: -1.5px;
  color: #ffffff;
  background-color: #ffb400;
  display: inline-block;
  padding: 10px;
  line-height: 0.8;
}

.news-column .news-header {
  font-family: 'Titillium Web';
  font-weight: 600;
  text-transform: uppercase;
  color: #525252;
}

.news-column .star {
  color: #ffb400;
  font-size: 10px;
  line-height: 8px;
}

.news-column .news-date {
  font-family: 'Titillium Web';
  font-weight: 600;
  font-size: 12px;
  line-height: 0.8;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  color: #e9b229;
  margin-bottom: 10px;
}

.news-column .news-preview {
  padding: 20px 0;
  border-bottom: 1px solid #d8d8d8;
}

.news-column .news-preview:last-child {
  border-bottom: 0;
}

.news-column .news-preview .side-with-img {
  width: 108px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 13px;
}

.news-column .news-preview .news-pic {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.news-column .news-preview .news-header {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.3px;
}

.news-column .news-preview .rating {
  margin-bottom: 5px;
}

.be-social .news-column-header {
  position: relative;
}

.be-social .news-column-header .section-header-line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ffb400;
  bottom: 0px;
}

.be-social .news-section-header {
  font-family: 'Bebas Neue';
  font-size: 30px;
  letter-spacing: -1.5px;
  color: #ffffff;
  background-color: #ffb400;
  display: inline-block;
  padding: 10px;
  line-height: 0.8;
}

.be-social .social {
  padding: 20px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.be-social .facebook-icon, .be-social .rss-icon {
  width: 102px;
  height: 73px;
  background-color: #535353;
  color: white;
  border: 1px solid #535353;
  padding: 20px 0px 0px 38px;
}

.be-social .twitter-icon {
  width: 102px;
  height: 73px;
  background-color: #ffb400;
  color: white;
  border: 1px solid #ffb400;
  padding: 20px 0px 0px 38px;
}

.be-social .fans {
  width: 102px;
  height: 73px;
  background-color: #f4f4f4;
  text-align: center;
  padding: 15px;
}

.be-social .count-fans {
  width: 60px;
  height: 17px;
  font-weight: bold;
  font-family: TitilliumText25L-999wt;
  font-size: 24px;
  line-height: 0.75;
  letter-spacing: -0.6px;
  text-align: center;
  color: #919191;
}

.be-social .social-netlink {
  width: 12px;
  height: 24px;
  font-family: LucidaGrande;
  font-size: 30px;
  font-weight: bold;
  line-height: 0.6;
  letter-spacing: -1.5px;
  color: #ffffff;
}

.be-social .social-net-text {
  width: 84px;
  height: 9px;
  font-family: TitilliumText25L-999wt;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.3px;
  text-align: center;
  color: #acacac;
}

.sorted-news {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.sorted-news .sorted-news-header {
  position: relative;
}

.sorted-news .sorted-news-header .section-header-line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ffb400;
  bottom: 0px;
}

.sorted-news .news-section-header {
  font-family: 'Bebas Neue';
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1.5px;
  color: #ffffff;
  background-color: #ffb400;
  display: inline-block;
  padding: 10px;
  line-height: 0.8;
}

.sorted-news .news-section-header:hover {
  background-color: #535353;
}

.sorted-news .news-preview {
  padding: 20px 0;
  border-bottom: 1px solid #d8d8d8;
}

.sorted-news .news-preview:last-child {
  border-bottom: 0;
}

.sorted-news .news-preview .news-header {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.3px;
  text-transform: uppercase;
}

.sorted-news .news-preview .star {
  color: #ffb400;
  font-size: 10px;
  line-height: 8px;
}

.sorted-news .news-preview .news-info {
  font-family: 'Titillium Web';
  font-weight: 600;
  font-size: 12px;
  line-height: 0.8;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  color: #e9b229;
  padding: 5px 0px;
}

footer .container {
  position: relative;
  height: 466px;
  background-color: #2d2d2d;
}

footer .container .square {
  height: 44px;
  width: 44px;
  background: #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  right: 50%;
  top: -34px;
}

footer .container .logo {
  text-align: center;
  background-image: url(../img/footer/logo-bg-2.png);
  background-size: cover;
  color: white;
  margin-left: 1px;
  padding: 18px 17px 18px 16px;
  position: relative;
  top: -39px;
  z-index: 0;
  width: 243px;
}

footer .container .magazine-name {
  font-family: "Bebas Neue";
  font-size: 95px;
  font-weight: 700;
  letter-spacing: -4.75px;
  text-transform: uppercase;
  line-height: 69px;
  margin-bottom: 10px;
}

footer .container .logo-text {
  font-family: "Bebas Neue";
  font-size: 20px;
  letter-spacing: -0.5px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 16px;
  z-index: 1;
  background-color: #ffb400;
  padding: 0 8px;
  display: inline-block;
  position: relative;
}

footer .container .logo-line {
  position: absolute;
  height: 1px;
  bottom: 25px;
  background-color: white;
  right: 15px;
  left: 15px;
  bottom: 28px;
}

footer .container .rumors-info {
  width: 345px;
  height: 265px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-bottom: 1px solid #141414;
}

footer .container .rumors-info .text-about-site {
  font-family: "Titillium Web";
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #7a7a7a;
  position: absolute;
  bottom: 33px;
  height: 100px;
  width: 333px;
}

footer .container .rumors-info .text-about-site .text-1 {
  position: absolute;
  top: 0px;
}

footer .container .rumors-info .text-about-site .text-2 {
  position: absolute;
  bottom: 0px;
}

footer .container .rumors-contacts {
  width: 345px;
  height: 163px;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 0px;
  bottom: 38px;
  border-top: 1px solid #3e3e3e;
}

footer .container .rumors-contacts .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 27px;
  padding-left: 3px;
  height: 15px;
}

footer .container .rumors-contacts .location .location-text {
  margin-left: 13px;
  font-family: "Titillium Web";
  font-weight: 600;
  font-size: 12px;
  color: #9b9b9b;
}

footer .container .rumors-contacts .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 55px;
  padding-left: 4px;
  height: 14px;
}

footer .container .rumors-contacts .phone .phone-text {
  margin-left: 13px;
  font-family: "Titillium Web";
  font-weight: 600;
  font-size: 12px;
  color: #9b9b9b;
}

footer .container .rumors-contacts .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 80px;
  padding-left: 4px;
  height: 16px;
}

footer .container .rumors-contacts .email .email-text {
  margin-left: 12px;
  font-family: "Titillium Web";
  font-weight: 600;
  font-size: 12px;
  color: #9b9b9b;
}

footer .container .latest-news {
  position: absolute;
  left: 373px;
  top: 0px;
  width: 345px;
  height: 428px;
}

footer .container .latest-news .news-section-header {
  position: absolute;
  top: 48px;
  background-color: #e9b229;
  margin-bottom: 0px;
}

footer .container .latest-news .news-section-header::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 345px;
  background-color: #e9b229;
  bottom: 0px;
  left: 0px;
}

footer .container .latest-news .latest-news-block {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

footer .container .latest-news .latest-news-block .news-preview-1 {
  height: 107px;
  border-bottom: 1px solid #141414;
}

footer .container .latest-news .latest-news-block .news-preview-1 .side-with-img {
  width: 108px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 13px;
  margin-top: 25px;
}

footer .container .latest-news .latest-news-block .news-preview-1 .news-pic {
  width: 100%;
  height: 59px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

footer .container .latest-news .latest-news-block .news-preview-1 .news-header {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.3px;
  margin-top: 20px;
  color: #525252;
}

footer .container .latest-news .latest-news-block .news-preview-1 .rating {
  margin-bottom: 5px;
}

footer .container .latest-news .latest-news-block .news-preview-2 {
  height: 103px;
  border-top: 1px solid #3e3e3e;
  border-bottom: 1px solid #141414;
}

footer .container .latest-news .latest-news-block .news-preview-2 .side-with-img {
  width: 108px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 13px;
  margin-top: 21px;
}

footer .container .latest-news .latest-news-block .news-preview-2 .news-pic {
  width: 100%;
  height: 59px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

footer .container .latest-news .latest-news-block .news-preview-2 .news-header {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.3px;
  margin-top: 16px;
  color: #7a7a7a;
}

footer .container .latest-news .latest-news-block .news-preview-2 .rating {
  margin-bottom: 5px;
}

footer .container .latest-news .latest-news-block .news-preview-3 {
  height: 126px;
  border-top: 1px solid #3e3e3e;
}

footer .container .latest-news .latest-news-block .news-preview-3 .side-with-img {
  width: 108px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 13px;
  margin-top: 23px;
}

footer .container .latest-news .latest-news-block .news-preview-3 .news-pic {
  width: 100%;
  height: 59px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

footer .container .latest-news .latest-news-block .news-preview-3 .news-header {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.3px;
  margin-top: 18px;
  color: #7a7a7a;
}

footer .container .latest-news .latest-news-block .news-preview-3 .rating {
  margin-bottom: 5px;
}

footer .container .most-popular-news {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 342px;
  height: 428px;
}

footer .container .most-popular-news .news-section-header {
  position: absolute;
  top: 48px;
  margin-bottom: 0px;
  background-color: #e9b229;
}

footer .container .most-popular-news .news-section-header::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 342px;
  background-color: #e9b229;
  bottom: 0px;
  left: 0px;
}

footer .container .most-popular-news .most-popular-news-block {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

footer .container .most-popular-news .most-popular-news-block .news-preview-1 {
  height: 107px;
  border-bottom: 1px solid #141414;
}

footer .container .most-popular-news .most-popular-news-block .news-preview-1 .side-with-img {
  width: 108px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 13px;
  margin-top: 25px;
}

footer .container .most-popular-news .most-popular-news-block .news-preview-1 .news-pic {
  width: 100%;
  height: 59px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

footer .container .most-popular-news .most-popular-news-block .news-preview-1 .news-header {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.3px;
  margin-top: 20px;
  color: #7a7a7a;
}

footer .container .most-popular-news .most-popular-news-block .news-preview-1 .rating {
  margin-bottom: 5px;
}

footer .container .most-popular-news .most-popular-news-block .news-preview-2 {
  height: 103px;
  border-top: 1px solid #3e3e3e;
  border-bottom: 1px solid #141414;
}

footer .container .most-popular-news .most-popular-news-block .news-preview-2 .side-with-img {
  width: 108px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 13px;
  margin-top: 21px;
}

footer .container .most-popular-news .most-popular-news-block .news-preview-2 .news-pic {
  width: 100%;
  height: 59px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

footer .container .most-popular-news .most-popular-news-block .news-preview-2 .news-header {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.3px;
  margin-top: 16px;
  color: #7a7a7a;
}

footer .container .most-popular-news .most-popular-news-block .news-preview-2 .rating {
  margin-bottom: 5px;
}

footer .container .most-popular-news .most-popular-news-block .news-preview-3 {
  height: 126px;
  border-top: 1px solid #3e3e3e;
}

footer .container .most-popular-news .most-popular-news-block .news-preview-3 .side-with-img {
  width: 108px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 13px;
  margin-top: 23px;
}

footer .container .most-popular-news .most-popular-news-block .news-preview-3 .news-pic {
  width: 100%;
  height: 59px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

footer .container .most-popular-news .most-popular-news-block .news-preview-3 .news-header {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.3px;
  margin-top: 18px;
  color: #7a7a7a;
}

footer .container .most-popular-news .most-popular-news-block .news-preview-3 .rating {
  margin-bottom: 5px;
}

footer .container .copyright {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 0 12px 2px;
  position: absolute;
  bottom: 0;
  height: 38px;
  width: 100%;
  line-height: 18px;
  background-color: #232323;
}

footer .container .copyright .text-1 {
  font-family: "Titillium Web";
  font-weight: 600;
  font-size: 12px;
  color: #7a7a7a;
}

footer .container .copyright .text-2 {
  margin-left: 4px;
  font-family: "Titillium Web";
  font-weight: 600;
  font-size: 12px;
  color: #e9b229;
}

footer .container .copyright .text-3 {
  margin-left: 4px;
  font-family: "Titillium Web";
  font-weight: 600;
  font-size: 12px;
  color: #5f5f5f;
}

@media (min-width: 1500px) {
  .container {
    max-width: 1500px;
  }
}

@media (min-width: 901px) {
  .mobile-only {
    display: none !important;
  }
}

@media (max-width: 1200px) {
  header .logo {
    margin-right: 10px;
  }
}

@media (max-width: 900px) {
  .desktop-only {
    display: none !important;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    height: 60px;
    padding: 0 10px;
  }
  header .magazine-name {
    color: #ffb400;
    font-size: 40px;
    line-height: 1;
    margin: 0;
    padding: 0;
    letter-spacing: -2px;
  }
  header .logo {
    background-image: none;
    margin: 0;
    padding: 0;
  }
  header .container {
    margin: 0;
  }
  header .container:after, header .container:before {
    display: none;
  }
  nav.mobile-only {
    position: absolute;
    top: 0;
    left: 30px;
    margin: 0;
    background-color: rgba(68, 68, 68, 0.8);
    -webkit-transform: translateX(-130%);
            transform: translateX(-130%);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 1;
  }
  nav.mobile-only.shown {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  nav.mobile-only .nav-link {
    font-size: 14px;
    color: white;
    line-height: 0.7;
  }
  .search .search-field {
    height: 20px;
    position: absolute;
    right: 0;
    bottom: 4px;
    width: 150px;
    font-size: 10px;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  .search .search-icon {
    height: 20px;
    position: relative;
  }
}

.left-column {
  width: 717px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.right-column {
  margin-left: 20px;
  width: 350px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-part {
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template: 1fr 1fr  / 1fr 1fr;
  grid-column-gap: 30px;
}

.top-part > div {
  border: 1px solid black;
}

.entertainment, .business {
  position: relative;
}

.entertainment:before, .business:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #ffb400;
  top: 44px;
}

.entertainment .news-section-header, .business .news-section-header {
  font-family: 'Bebas Neue';
  font-size: 30px;
  letter-spacing: -1.5px;
  color: #ffffff;
  background-color: #ffb400;
  display: inline-block;
  padding: 10px;
  line-height: 0.8;
  margin-bottom: 5px;
}

.entertainment .news-header, .business .news-header {
  font-family: 'Titillium Web';
  font-weight: 600;
  text-transform: uppercase;
  color: #525252;
}

.entertainment .star, .business .star {
  color: #ffb400;
  font-size: 10px;
  line-height: 8px;
}

.entertainment .news-date, .business .news-date {
  font-family: 'Titillium Web';
  font-weight: 600;
  font-size: 12px;
  line-height: 0.8;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  color: #e9b229;
  margin-bottom: 10px;
}

.entertainment .opened-news, .entertainment .news-preview, .business .opened-news, .business .news-preview {
  padding: 20px 0;
}

.entertainment .opened-news .img-with-stars, .business .opened-news .img-with-stars {
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 16px;
}

.entertainment .opened-news .news-pic, .business .opened-news .news-pic {
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
}

.entertainment .opened-news .rating, .business .opened-news .rating {
  background-color: #3c3c3c;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 12px;
}

.entertainment .opened-news .news-header, .business .opened-news .news-header {
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.45px;
  margin-bottom: 10px;
}

.entertainment .opened-news .news-info, .business .opened-news .news-info {
  font-family: 'Titillium Web';
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.3px;
  color: #6f6f6f;
}

.entertainment .news-preview, .business .news-preview {
  border-top: 1px solid #d8d8d8;
}

.entertainment .news-preview .side-with-img, .business .news-preview .side-with-img {
  width: 108px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 13px;
}

.entertainment .news-preview .news-pic, .business .news-preview .news-pic {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.entertainment .news-preview .news-header, .business .news-preview .news-header {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.3px;
}

.entertainment .news-preview .rating, .business .news-preview .rating {
  margin-bottom: 5px;
}
/*# sourceMappingURL=main-page.css.map */